JWST_IMAGE_MAKER/data/test_data_eagle.fits filter=lfs diff=lfs merge=lfs -text
JWST_IMAGE_MAKER/data/jw02739-o002_t001_miri_f770w_i2d.fits filter=lfs diff=lfs merge=lfs -text
JWST_IMAGE_MAKER/data/jw02739-o002_t001_miri_f1500w_i2d.fits filter=lfs diff=lfs merge=lfs -text
JWST_IMAGE_MAKER/data/jw02739-o002_t001_miri_f1130w_i2d.fits filter=lfs diff=lfs merge=lfs -text

# These are the NIRCAM images (they are much larger than the miri images above)
JWST_IMAGE_MAKER/data/jw02739-o001_t001_nircam_clear-f187n_i2d.fits filter=lfs diff=lfs merge=lfs -text
JWST_IMAGE_MAKER/data/jjw02739-o001_t001_nircam_clear-f187n_i2d.fits filter=lfs diff=lfs merge=lfs -text




