build
dist
JWST_IMAGE_MAKER.egg-info

JWST_IMAGE_MAKER/Query_Data

JWST_IMAGE_MAKER/__pycache__
Mubdi's plotting improvements.ipynb
Mubdi's plotting improvements-checkpoint.ipynb

JWST_IMAGE_MAKER/tests/__pycache__

JWST_IMAGE_MAKER/data/jw02739-o001_t001_nircam_clear-f187n_i2d.fits
JWST_IMAGE_MAKER/data/jw02739-o001_t001_nircam_clear-f200w_i2d.fits 
