# Package
build
dist
JWST_IMAGE_MAKER.egg-info
JWST_IMAGE_MAKER/__pycache__
JWST_IMAGE_MAKER/tests/__pycache__

# Jupyter notebooks
.ipynb checkpoints
.mpy_cache
Mubdi's plotting improvements.ipynb
Mubdi's plotting improvements-checkpoint.ipynb
Henry_scrap.ipynb
Henry_scrap-checkpoint.ipynb

# Data
jw02733001001_02105_00008_nrcb1_i2d.fits


