build
dist
JWST_IMAGE_MAKER.egg-info

JWST_IMAGE_MAKER/data/jw02739-o001_t001_nircam_clear-f187n_i2d.fits filter=lfs diff=lfs merge=lfs -text
JWST_IMAGE_MAKER/data/jw02739-o001_t001_nircam_clear-f200n_i2d.fits filter=lfs diff=lfs merge=lfs -text
